.task-input-container{
    background-color: white;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    margin: 14px 0 14px 0;
    width: 30%;
    display: flex;
    align-items: center;
}

.task-input-element{
    background-color: transparent;
    border: none;
    outline: none;
    padding: 20px;
    flex-grow: 1;
}

.add-task-btn{
    color: #915e05;
    font-size: 3rem;
    cursor: pointer;
}

@media (max-width: 767px) {
    .task-input-container {
        width: 100%;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    .task-input-container {
        width: 60%;
    }
  }
  
  @media (min-width: 1024px) {
    .task-input-container {
        width: 40%;
    }
  }