.App{
  min-height: 100vh;
  background-image: linear-gradient(to right, #f2da43, #f1da46);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
}

.main-heading{
  color: #0f0716;
}

.hr-line{
  width: 60%;
  border: 0.5px dashed #915e05;
  margin-top: 18px;
  margin-bottom: 12px;
}